<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="CodeBuilder"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Code Builder">
         <property
               name="appName"
               value="Code Builder">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="by.bsuir.cb.CodeBuilderMultipage"
            default="false"
            extensions="java"
            id="cb.core.editor1"
            name="Code Builder">
         <contentTypeBinding
               contentTypeId="javaSource">
         </contentTypeBinding>
      </editor>
   </extension>

</plugin>
